body{
    background-color: cadetblue;
}
.statement_input{
    border: 3px solid #ccc;
    transition: all 0.5s;
    width: 20%;
}

.statement_input:focus{
    border: 3px solid black;
}

.statement_preview{
    width: 20%;
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    display: inline-block;
}

.content_area{
    height: 60%;
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.45);
}

.row_wrapper{
    padding: 1.2em;
    height: 1em;
}